/* Covers all */
html {
	font: 17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	background-image: url("img/extra gears.png");
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-color: #003b6f;
}

/* The header */
.header{
	margin-bottom:-1.45%;
	width:100%;
}

/* 	Mission header image */
.divHead {
	width: 60%;
}

.mainDiv {
	width: 33em;
	margin: 2em;
	position:relative;
	padding: 1em;
	background: rgba(0, 0, 0, .60);
}
/* Right hand information */
#left {
	float: left;
}
#right {
/* Mission information */
	float: right;
}

/* Background Image */
.rightIMG {
	width: 100%;
	position: absolute;
	float: left;
}

.fouAU {
	width: 100%;
}

/* Helps with keeping divs in their place */
.body {
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}
.spacer {
	color: rgba(0,0,0,0);
}
	
/*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/
@-webkit-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    
    13.5% { left:-100%; }
    23.5% { left:-100%; }
    
    25%   { left:-200%; }
    36%   { left:-200%; }
    
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    
    75%   { left:-200%; }
    86%   { left:-200%; }
    
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    
    100%  { left:0; }
}

.carousel{
    overflow:hidden;
    width:100%;
    height: 75%;
    position:absolute;
}

.panes{
    list-style:none;
    position:relative;
    margin: 0;
    padding: 0;
    width:400%; /* Number of panes * 100% */
    overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
        
    -moz-animation:carousel 60s infinite;
    -webkit-animation:carousel 60s infinite;
    animation:carousel 60s infinite;
}
.panes > li{
    position:relative;
    float:left;
    width:25%; /* 100 / number of panes */
}
.carousel img{
    display:block;
    width:100%;
    height: 100%;
    max-width:100%;
}
.carousel h2{
    font-size:1em;
    padding:0.5em;
    position:absolute;
    width: 40%;
    right:10px;
    top:6%;
    left:3%;
    text-align:center;
    color:#fff;
    background-color:rgba(0,0,0,0.45);
}

/* START NAV MENU */
nav {
	background: -webkit-linear-gradient(#505050, #353535); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#505050, #353535); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#505050, #353535); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#505050, #353535); /* Standard syntax */
	height:40px;
}
nav ul {
	font-size: 20px;
	display: block;
	list-style: none;
}
nav ul li {
	display: block;
	float: left;
}
nav ul li a {
	font: 17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	text-decoration: none;
	padding: 7px 20px 3px 20px;
	background: -webkit-linear-gradient(#505050, #353535); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#505050, #353535); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#505050, #353535); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#505050, #353535); /* Standard syntax */
	color: #000000;
	margin-left: 5px;
	margin-right: 5px;
	height:30px;
	width:90px;
	text-align:center;
	-webkit-transition: ease 0.25s color; 
}
nav ul li a:hover {
	color:#384A9F;
}
/* END NAV MENU */