.sponLogo {
	width: 10em;
	float:left;
	margin:1%;
}
.Sponsor {
	float: left;
	display: inline-block;
	width: 10em;
	margin: .5em;
}
#contentrgiht{
	width:  65%;
	height: 400px;
	background-color: #666;
	float: right;
}
 
.gallerybox {
	width: 350px;
	height: 200px;
	background-color: #000;
	float: left;
}
.gallerymargin1 {
	margin-right: 20px;
	margin-left: 50px;
}
.gallerymargin2 {
	margin-top: 40px;
}
.gallery {
	background-color: black;
 	height: 130px; 
 	width: 100px;
}
.galleryimage {
	height: 200;
	width: 350;
	border: 10px double black;
	background: #DFBB24;
	outline: 3px solid white;
  	width: 350px;
}